.main
  .main-top
    .main-top__box
      %p.main-top__box__name
        = @group.name
      %p.main-top__box__message
        Member:
        - @group.users.each do |user|
          = user.name
    .main-top__box__edit
      = link_to edit_group_path(current_user) do
        Edit
  .main-center
    = render @messages
  .main-bottom
    = form_for [@group, @message] do |f|
      %bottom.new_message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'


  
  
  -# .form
  -#     = form_for [@group, @message] do |f|
  -#       = f.text_field :content, class: 'form__message', placeholder: 'type a message'
  -#       .form__mask
  -#         = f.label :image, class: 'form__mask__image' do
  -#           = icon('fas', 'image', class: 'icon')
  -#           = f.file_field :image, class: 'hidden'
  -#       = f.submit 'Send', class: 'form__submit'
  
  
  
  
  
  
  
  
  -# .main-bottom
  -#   = form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'main-bottom__message', placeholder: 'type a message'
  -#     .main-bottom__mask
  -#       = f.label :image, class: 'main-bottom__mask__image' do
  -#         = icon('fas', 'image', class: 'icon')
  -#         = f.file_field :image, class: 'hidden'
  -#     = f.submit 'Send', class: 'form__submit'






      