.side
  .side-top
    .side-top__box
      = current_user.name
    %p.side-top__box__name
    .side-top__box__menu
      .side-top__box__menu__group
        = link_to new_group_path do
          = icon("fa", "edit", class: "icon")
      .side-top__box__menu__edit
        =link_to edit_user_path(current_user) do
          = icon("fa","cog")
  .side-bottom
    - current_user.groups.each do |group|
      .side-bottom__group
        = link_to '#' do
          %p.side-bottom__group__name
            = group.name
          %p.side-bottom__group__message
            -# メッセージはない